{{template "header"}}

<h1>here is about page</h1>
<nav>
<ul>
<li><a href="/index"> index</li>
<li><a href="/about"> about</li>
<li><a href="/contact"> contact</li>
<li><a href="apply"> Apply process</li>

</ul>
</nav>
{{template "footer"}}